* text=auto !eol
css/ui/images/ui-icons_444444_256x240.png -text
css/ui/images/ui-icons_555555_256x240.png -text
css/ui/images/ui-icons_777620_256x240.png -text
css/ui/images/ui-icons_777777_256x240.png -text
css/ui/images/ui-icons_cc0000_256x240.png -text
css/ui/images/ui-icons_ffffff_256x240.png -text
css/ui/jquery-ui.css -text
css/ui/jquery-ui.min.css -text
css/ui/jquery-ui.structure.css -text
css/ui/jquery-ui.structure.min.css -text
css/ui/jquery-ui.theme.css -text
css/ui/jquery-ui.theme.min.css -text
images/jqueryui-128.png -text
/jqueryui_pipelines.php -text
lang/paquet-jqueryui.xml -text
lang/paquet-jqueryui_ar.php -text
lang/paquet-jqueryui_de.php -text
lang/paquet-jqueryui_en.php -text
lang/paquet-jqueryui_es.php -text
lang/paquet-jqueryui_fr_fem.php -text
lang/paquet-jqueryui_fr_tu.php -text
lang/paquet-jqueryui_it.php -text
lang/paquet-jqueryui_lb.php -text
lang/paquet-jqueryui_nl.php -text
lang/paquet-jqueryui_oc_ni_mis.php -text
lang/paquet-jqueryui_pt.php -text
lang/paquet-jqueryui_pt_br.php -text
lang/paquet-jqueryui_ru.php -text
lang/paquet-jqueryui_sk.php -text
lang/paquet-jqueryui_uk.php -text
/paquet.xml -text
prive/javascript/ui/accordion.js -text
prive/javascript/ui/autocomplete.js -text
prive/javascript/ui/button.js -text
prive/javascript/ui/core.js -text
prive/javascript/ui/datepicker.js -text
prive/javascript/ui/dialog.js -text
prive/javascript/ui/draggable.js -text
prive/javascript/ui/droppable.js -text
prive/javascript/ui/effect.js -text
prive/javascript/ui/effects/effect-blind.js -text
prive/javascript/ui/effects/effect-bounce.js -text
prive/javascript/ui/effects/effect-clip.js -text
prive/javascript/ui/effects/effect-drop.js -text
prive/javascript/ui/effects/effect-explode.js -text
prive/javascript/ui/effects/effect-fade.js -text
prive/javascript/ui/effects/effect-fold.js -text
prive/javascript/ui/effects/effect-highlight.js -text
prive/javascript/ui/effects/effect-puff.js -text
prive/javascript/ui/effects/effect-pulsate.js -text
prive/javascript/ui/effects/effect-scale.js -text
prive/javascript/ui/effects/effect-shake.js -text
prive/javascript/ui/effects/effect-size.js -text
prive/javascript/ui/effects/effect-slide.js -text
prive/javascript/ui/effects/effect-transfer.js -text
prive/javascript/ui/i18n/datepicker-af.js -text
prive/javascript/ui/i18n/datepicker-ar-DZ.js -text
prive/javascript/ui/i18n/datepicker-ar.js -text
prive/javascript/ui/i18n/datepicker-az.js -text
prive/javascript/ui/i18n/datepicker-be.js -text
prive/javascript/ui/i18n/datepicker-bg.js -text
prive/javascript/ui/i18n/datepicker-bs.js -text
prive/javascript/ui/i18n/datepicker-ca.js -text
prive/javascript/ui/i18n/datepicker-cs.js -text
prive/javascript/ui/i18n/datepicker-cy-GB.js -text
prive/javascript/ui/i18n/datepicker-da.js -text
prive/javascript/ui/i18n/datepicker-de.js -text
prive/javascript/ui/i18n/datepicker-el.js -text
prive/javascript/ui/i18n/datepicker-en-AU.js -text
prive/javascript/ui/i18n/datepicker-en-GB.js -text
prive/javascript/ui/i18n/datepicker-en-NZ.js -text
prive/javascript/ui/i18n/datepicker-eo.js -text
prive/javascript/ui/i18n/datepicker-es.js -text
prive/javascript/ui/i18n/datepicker-et.js -text
prive/javascript/ui/i18n/datepicker-eu.js -text
prive/javascript/ui/i18n/datepicker-fa.js -text
prive/javascript/ui/i18n/datepicker-fi.js -text
prive/javascript/ui/i18n/datepicker-fo.js -text
prive/javascript/ui/i18n/datepicker-fr-CA.js -text
prive/javascript/ui/i18n/datepicker-fr-CH.js -text
prive/javascript/ui/i18n/datepicker-fr.js -text
prive/javascript/ui/i18n/datepicker-gl.js -text
prive/javascript/ui/i18n/datepicker-he.js -text
prive/javascript/ui/i18n/datepicker-hi.js -text
prive/javascript/ui/i18n/datepicker-hr.js -text
prive/javascript/ui/i18n/datepicker-hu.js -text
prive/javascript/ui/i18n/datepicker-hy.js -text
prive/javascript/ui/i18n/datepicker-id.js -text
prive/javascript/ui/i18n/datepicker-is.js -text
prive/javascript/ui/i18n/datepicker-it-CH.js -text
prive/javascript/ui/i18n/datepicker-it.js -text
prive/javascript/ui/i18n/datepicker-ja.js -text
prive/javascript/ui/i18n/datepicker-ka.js -text
prive/javascript/ui/i18n/datepicker-kk.js -text
prive/javascript/ui/i18n/datepicker-km.js -text
prive/javascript/ui/i18n/datepicker-ko.js -text
prive/javascript/ui/i18n/datepicker-ky.js -text
prive/javascript/ui/i18n/datepicker-lb.js -text
prive/javascript/ui/i18n/datepicker-lt.js -text
prive/javascript/ui/i18n/datepicker-lv.js -text
prive/javascript/ui/i18n/datepicker-mk.js -text
prive/javascript/ui/i18n/datepicker-ml.js -text
prive/javascript/ui/i18n/datepicker-ms.js -text
prive/javascript/ui/i18n/datepicker-nb.js -text
prive/javascript/ui/i18n/datepicker-nl-BE.js -text
prive/javascript/ui/i18n/datepicker-nl.js -text
prive/javascript/ui/i18n/datepicker-nn.js -text
prive/javascript/ui/i18n/datepicker-no.js -text
prive/javascript/ui/i18n/datepicker-pl.js -text
prive/javascript/ui/i18n/datepicker-pt-BR.js -text
prive/javascript/ui/i18n/datepicker-pt.js -text
prive/javascript/ui/i18n/datepicker-rm.js -text
prive/javascript/ui/i18n/datepicker-ro.js -text
prive/javascript/ui/i18n/datepicker-ru.js -text
prive/javascript/ui/i18n/datepicker-sk.js -text
prive/javascript/ui/i18n/datepicker-sl.js -text
prive/javascript/ui/i18n/datepicker-sq.js -text
prive/javascript/ui/i18n/datepicker-sr-SR.js -text
prive/javascript/ui/i18n/datepicker-sr.js -text
prive/javascript/ui/i18n/datepicker-sv.js -text
prive/javascript/ui/i18n/datepicker-ta.js -text
prive/javascript/ui/i18n/datepicker-th.js -text
prive/javascript/ui/i18n/datepicker-tj.js -text
prive/javascript/ui/i18n/datepicker-tr.js -text
prive/javascript/ui/i18n/datepicker-uk.js -text
prive/javascript/ui/i18n/datepicker-vi.js -text
prive/javascript/ui/i18n/datepicker-zh-CN.js -text
prive/javascript/ui/i18n/datepicker-zh-HK.js -text
prive/javascript/ui/i18n/datepicker-zh-TW.js -text
prive/javascript/ui/menu.js -text
prive/javascript/ui/mouse.js -text
prive/javascript/ui/position.js -text
prive/javascript/ui/progressbar.js -text
prive/javascript/ui/resizable.js -text
prive/javascript/ui/selectable.js -text
prive/javascript/ui/selectmenu.js -text
prive/javascript/ui/slider.js -text
prive/javascript/ui/sortable.js -text
prive/javascript/ui/spinner.js -text
prive/javascript/ui/tabs.js -text
prive/javascript/ui/tooltip.js -text
prive/javascript/ui/widget.js -text
